---
// src/components/CallToAction.astro
import OrderButton from './templates/OrderButton.astro';
import LearnMoreLink from './templates/LearnMoreLink.astro';
import { client } from '../sanity/client';
import HeaderText from './templates/HeaderText.astro';
import BodyText from './templates/BodyText.astro';

interface CallToAction {
  title: string;
  description1: string;
  description2: string;
  orderButton?: { text?: string; href?: string };
  learnMoreLink?: { text?: string; href?: string };
}

const [callToActionData] = await client.fetch<CallToAction[]>(`*[_type == "callToAction"]`);
const { title, description1, description2, orderButton, learnMoreLink } = callToActionData || {};

---

<section class="bg-primary py-20 relative overflow-hidden">
  <div class="absolute inset-0 z-0">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="absolute bottom-0 left-0 w-full h-full"
      preserveAspectRatio="none"
    >
      <path
        fill="rgba(255,255,255,0.1)"
        fill-opacity="1"
        d="M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,128C672,128,768,160,864,176C960,192,1056,192,1152,176C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </div>

  <div class="container mx-auto sm:px-4 relative z-10">
    {/* Key changes are within this div's classes */}
    <div class="relative isolate overflow-hidden bg-white px-6 pt-16 pb-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 md:pb-24 lg:flex lg:justify-center lg:items-center lg:gap-x-20 lg:px-24 lg:pt-0 lg:pb-0">
      <div class="mx-auto max-w-3xl text-center lg:mx-0 lg:flex-auto lg:py-32">
          <HeaderText text={title} size="small" className='font-serif mb-1' />
          <HeaderText text={title} size="large" />
          <BodyText text={description1} size='small' />
          <div class="mt-10 flex flex-wrap items-center justify-center gap-4 sm:gap-6">
            {orderButton?.text && orderButton.href && (
              <OrderButton href={orderButton.href}>{orderButton.text}</OrderButton>
            )}
            {learnMoreLink?.href && (
              <LearnMoreLink href={learnMoreLink.href}>{learnMoreLink.text}</LearnMoreLink>
            )}
          </div>
        </div>
      </div>
  </div>
</section>