---
// src/components/Hero.astro
import { Image } from 'astro:assets';
import OrderButton from './templates/OrderButton.astro';
import LearnMoreLink from './templates/LearnMoreLink.astro';
import { client } from '../sanity/client'; // Import the Sanity client
import imageUrlBuilder from '@sanity/image-url';
import type { ImageUrlBuilder } from '@sanity/image-url/lib/types/builder';
import BodyText from './templates/BodyText.astro';

const builder = imageUrlBuilder(client);

interface Hero {
  title: string;
  description: string;
  orderButton: { text: string; href: string };
  learnMoreLink: { text: string; href: string };
  image: { asset: { _ref: string }; alt: string } | null; // Allow image to be null
}

const [heroData] = await client.fetch<Hero[]>(`*[_type == "hero"]`); // Fetch data

// Initialize image variable
let image: ImageUrlBuilder | undefined;

// Check if heroData and image exist before processing
  if (heroData && heroData.image && heroData.image.asset) {
    image = builder.image(heroData.image).width(600).height(400).fit('max').auto('format');
  }

const { title, description, orderButton, learnMoreLink } = heroData || {};

---

<section class="bg-white pt-14">
  <div class="container mx-auto px-6 py-8 sm:py-14 lg:px-8 2xl:px-0">
    <div class="flex flex-col lg:flex-row items-center">
      <div class="lg:w-1/2 lg:pr-12">
        <h1 class="text-4xl sm:text-4xl md:text-5xl lg:text-6xl font-sans font-bold text-gray-900 mb-6">
          {title}
        </h1>
        <BodyText text={description}/>
        <div class="flex items-center space-x-4">
          <OrderButton />
          <LearnMoreLink href={learnMoreLink?.href}>{learnMoreLink?.text}</LearnMoreLink>
        </div>
      </div>
      <div class="lg:w-1/2 mt-10 lg:mt-0">
        {image && (
          <Image
            src={image.url()}
            alt={heroData.image?.alt || ''}
            class="rounded-lg shadow-xl w-full"
            width={600}
            height={400}
          />
        )}
      </div>
    </div>
  </div>
</section>